@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: #000;
    height: 100vh;
    width: 100%;
    font-family: 'Lora', serif;
}

/* main css start here */

/* header css start here */

header.header {
    background-color: #045762;
    padding: 15px 0;
}

.header-left a {
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #e6e6e6;
}

.dropdown-menu .dropdown-item {
    color: #000;
    font-size: 16px;
}

.dropdown-menu .dropdown-item i {
    display: inline-block;
    margin-right: 6px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-menu .dropdown-item {
    padding: 10px;
}

.dropdown-menu .dropdown-item:first-child {
    border-bottom: 1px solid #0000003b;
}

.dropdown-item:active,.dropdown-item.active  {
    background-color: #045762;
    color: #fff;
}

.nav li a {
    color: #e6e6e6;
    font-size: 20px;
}

.nav li {
    padding-top: 10px;
}

.search-form {
    margin-top: 15px;
}

button.btn {
    color: #fff;
    border: 1px solid #fff;
}

button.btn:hover {
    background-color: #fff;
    color: #045762;
}

.search-form .form-control {
    background-color: transparent;
    color: #fff;
}

.search-form .form-control:focus {
    box-shadow: none;
}

button.btn:focus {
    box-shadow: none;
}

/* header css end here */

/* main css start here */

.sidebar {
    background-color: #045762;
}

.main-body .col-md-3 {
    padding-left: 0;
}

.sidebar .nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s;
}

.sidebar .nav .nav-item .nav-link i {
    font-size: 12px;
    margin-right: 5px;
}

.sidebar .nav .nav-item {
    border-top: 1px solid #ffffff59;
    border-bottom: 1px solid #ffffff59;
    padding: 0;
    transition: all 0.3s;
}


.sidebar .nav .nav-item:hover .nav-link {
    background-color: #fff;
    color: #045762;
}

.heading-one h5 {
    display: inline;
    color: #018698;
}

.heading-one i {
    color: #018698;
    padding-right: 10px;
}

.heading-one {
    background-color: #e6e6e6;
    padding: 10px;
    border: 2px solid rgb(133, 129, 129);
}

.admin-section-card a {
    text-decoration: none;
}

.admin-section-card a:hover .card {
    background-color: #045762 !important;
}

label.col-sm-2.col-form-label {
    font-size: 16px;
}

/* main css end here */


/* footer css start here */

footer.footer {
    background-color: #045762;
    padding: 20px;
}

.footer-text p {
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

.footer-text p a {
    color: #fff;
    text-decoration: none;
}

.footer-text p a:hover {
    color: #96d129;
}

/* footer css end here */
